:root{
    --font-size-md: 18px;
    --font-size-3xl: 56px;
    --font-size-2xl: 48px;
    --font-size-lg: 20px;
    --font-size-sm: 16px;
    --font-size-mm: 14px;
    --font-size-xl: 36px;
    --font-size-xll: 34px;
}