@import "./reset.css";
@import "./color.css";
@import "./fonts.css";

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 150%;
    color: var(--primary-text);
}
h1,h2,h3{
     font-family: "Hanuman", serif;
     font-weight: 400;
     line-height: 120%;
     letter-spacing: -1px;
}
.container{
    max-width: 351px;
    padding: 0 8px;
    margin: 0 auto;
}
.header-wrapper{
    padding: 12px 0;
}
.section-wrapper{
    padding: 64px 0;
}
.header-container{
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.section-title{
    font-size: var(--font-size-xll);
}
.navigation{
    display: none;
}

.order-button{
    display: none;
}
.burger-menu{
    display: flex;
    align-items: center;
    background:#fff;
    padding: 12px 12px;
}
.hero-wrapper{
    background-image: url(../image/hero.jpg);
    background-size: cover;       /* Розтягує фон на всю ширину й висоту */
     background-position: center -15px;  /* Центрує фонову картинку */
    background-repeat: no-repeat;
}
.hero-wrapper .container{
    padding: 48px 0;
}
.hero-container{
    display: flex;
    flex-direction: column;
    max-width: 334px;
    gap: 24px;
    margin: 0;
}
.hero-container .section-title{
    font-size: var(--font-size-xl);
}
.hero-description{
    font-size: var(--font-size-md);
    max-width: 247px;
}
.hero-button{
    font-weight: 500;
    font-size: var(--font-size-sm);
    padding: 10px 24px;
    background: var(--background-button);
    border-radius: 100px;
    display: inline-block;
    width: max-content;
    outline: none;
    transition: opacity 250ms ease-in-out;
    margin-top: 8px;
    width: 100%;
}
.hero-button:hover, .hero-button:focus{
    opacity: 50%;
}
.hero-button:active{
    background: var( --backgroung-btn-active);
    color: var(--color-btn-active);
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.about-content{
    display: flex;
    flex-direction: column;
}
.about-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: center;
}
.about-description{
    font-size: var(--font-size-md);
}
.about-image{
    margin-top: 24px;
    height: 428px;
    object-fit: cover;
    border-radius: 16px;
}

.products-description{
    font-weight: 600;
    font-size: var(--font-size-md);
    margin-top: 16px;
}
.products-text{
    font-weight: 600;
    font-size: var(--font-size-lg);
    margin-top: 8px;
}
.products-item{
    max-width: 335px;
    flex-shrink: 0;
}
.products-list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
}
.products-image{
    border-radius: 16px;
}
.reviews-dots {
    display: flex;
    gap: 8px;
    justify-content: center; /* Центрує їх всередині рядка */
    margin-top: 48px;
}
.reviews-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var( --background-reviews);
    border-radius: 50%;
    opacity: 20%;
}
.reviews-arrows{
   display: none;
}
.reviews-arrow-btn{
    padding: 12px;
    border-radius: 100px;
    background: var( --background-button-feedback);
    border: 1px solid var(--border-btn);
}
.reviews-arrow-btn:hover, .reviews-arrow-btn:focus{
    background: var(--background-reviews-hover);
    transition: background 250ms ease-in-out;
}
.reviews-arrow-btn:active{
    background: var(--background-reviews-active);
    transition: background 250ms ease-in-out;
}

.catalog-description{
    font-size: var(--font-size-md);
    margin-bottom: 32px;
}
.container-catalog{
    text-align: center;
}
.catalog-name{
    font-weight: 600;
    font-size: var(--font-size-md);
    margin-top: 16px;
    text-align: center;
}
.catalog-price{
    font-weight: 600;
    font-size: var(--font-size-lg);
    margin-top: 8px;
    text-align: center;
}
.catalog-button{
    padding: 10px;
    max-width: 406px;
    width: 100%;
    font-weight: 500;
    font-size: var(--font-size-sm);
    background: var(--background-button);
    border-radius: 100px;
    margin-top: 40px;
    outline: none;
    transition: opacity 250ms ease-in-out;
}
.catalog-button:hover, .catalog-button:focus{
    opacity: 50%;
}
.catalog-button:active{
    background: var( --backgroung-btn-active);
    color: var(--color-btn-active);
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.catalog-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.catalog-item{
    width: 100%;
}
.feedback-title{
    text-align: center;
}
.feedback-list{
    display: flex;
    gap: 32px;
    margin-top: 32px;
    justify-content: center;
    overflow: auto;
    flex-wrap: nowrap;
    scrollbar-width: none;
}
.feedback-item{
    max-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid  var(--border-btn);
    border-radius: 16px;
    padding: 32px 32px;
    flex-shrink: 0;
}
.feedback-description{
    font-size: var(--font-size-md);
    max-width: 352px;
}
.feedback-author{
    font-weight: 600;
    font-size: var(--font-size-sm);
    margin-top: 59px;
}
.feedback-button{
    padding: 12px;
    border-radius: 100px;
    background: var( --background-button-feedback);
    border: 1px solid var(--border-btn);
}
.feedback-button:hover, .feedback-button:focus{
    background: var(--background-reviews-hover);
    transition: background 250ms ease-in-out;
}
.feedback-button:active{
    background: var(--background-reviews-active);
    transition: background 250ms ease-in-out;
}
.container-button-feedback{
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-top: 32px;
}
.contact-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.container-address{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
}
.contact-description-container .section-title{
    margin-top: 16px;
}
.contact-text{
    font-weight: 600;
    font-size: var(--font-size-sm);
}
.contact-description{
    font-size: var(--font-size-md);
    margin-top: 24px;
}
.contact-list-label{
    font-weight: 400;
    font-size: var(--font-size-md);
    font-family: "Hanuman", serif;
    line-height: 140%;
    letter-spacing: -0.05em;
}
.contact-list-text{
    font-size: var(--font-size-sm);
}
.address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.address-item{
    display: flex;
    gap: 16px;
}
.contact-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contact-image{
    margin-top: 32px;
    height: 312px;
    object-fit: cover;
    border-radius: 16px;
}
.footer .container{
    padding: 48px 0;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.footer{
    background-color: var(--footer-background);
}
.footer-logo{
    width: 100%;
    height: 126px;
}
.navigation-footer{
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.logo-nav-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.list-footer{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.icon-footer{
    width: 40px;
    height: 40px;
}
.footer-text{
    font-size: var(--font-size-mm);
    text-align: center;
    border-top: 1px solid  #030C0126;
    margin-top: 32px;
    padding-top: 32px;
}
/* Tablet styles */

@media screen and (min-width: 768px){
    .container{
        max-width: 728px;
        padding: 0 12px;
    }
    .header-wrapper{
        padding: 12px 0;
    }   
    .section-wrapper{
        padding: 64px 0;
    }
    .header-container{
        display: flex;
        justify-content: space-between;  
        gap: 16px;
        align-items: center;
    }
    .navigation{
        display: none;
    }
    .order-button{
        font-weight: 500;
        font-size: var(--font-size-sm);
        padding: 8px 20px;
        background: var(--background-button);
        border-radius: 100px;
        outline: none;
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .order-button:hover,.order-button:focus{
        opacity: 50%;
        transition: opacity 250ms ease-in-out;
    }
    .order-button:active{
        background: var( --backgroung-btn-active);
        color: var(--color-btn-active);
        opacity: 1;
        transition: all 250ms ease-in-out;
    }
    .hero-container{
        width: 100%;
        max-width: 343px;
        padding: 48px 0;
    }
    .hero-wrapper{
        background-position: right -200px bottom -5px;
        background-size: 180%;
    } 
    .hero-wrapper .container{
        padding: 105px 0;
    }
    .hero-container .section-title{
        letter-spacing: 0;
        line-height: 43px;
    }
    .hero-description{
        font-size: var(--font-size-md);
        max-width: none;
        
    }
    .hero-button{
        width: max-content;
    }
    .about-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .about-container{
        max-width: 340px;
    }
    .about-image{
        max-width: 340px;
    }
    .products-list{
        gap: 24px;
    }
    .products-item{
    max-width: 340px;
    flex-shrink: 0;
}
    .catalog-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.feedback-item{
    max-width: 340px;
}

.contact-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
    
}
.contact-image{
    height: auto;
}
.navigation-footer{
    display: flex;
    flex-direction: row;
}
.footer .container{
    padding: 80px;
}
}

/* Desktop styles */
@media screen and (min-width: 1440px){
    .container{
        max-width: 1312px;
    }
    .header-wrapper{
        padding: 16px 0;
    }
    .section-wrapper{
        padding: 92px 0;
    }
   .section-title{
        font-size: var(--font-size-2xl);
    }
    .navigation{
        font-size: var(--font-size-sm);
        display: flex;
        gap: 32px;
        align-items: center;
    }
    .nav-link:hover,
    .nav-link:focus{
        opacity: 60%;
        transition: opacity 250ms ease-in-out;
    }
    .nav-link:active{
        opacity: 40%;
        transition: opacity 250ms ease-in-out;
    }
    .order-button{
        margin-left: 0;
    }
    .hero-container{
        width: 100%;
        max-width: 667px;
        gap: 32px;  
          
    }
    .hero-wrapper .container{
        padding: 190px 0;
    }
    .hero-wrapper{
         background-size: cover; 
         background-position: center;
    }
    .burger-menu{
        display: none;
    }
    .hero-button{
        margin: 0;
    }
    .hero-container .section-title{
        font-size: var(--font-size-3xl);
        line-height: 67px;
    }
    
    .about-container{
        max-width: 600px;
    }

    .about-image{
        max-width: 600px;
    }   

    .products-list{
        gap: 32px;
    }
    .products-item{
        max-width: 405px;
    }
        .reviews-arrows{
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-top: 24px;
    }
    .catalog-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px; /* між картинками по горизонталі */
        row-gap: 64px;    /* між першим і другим рядом */
    }
    .feedback-item{
        max-width: 405px;
    }
    .footer-logo{
        width: 294px;
    }
    .logo-nav-container{
        display: flex;
        flex-direction: row;
        gap: 0;
    }
    .footer-container{
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: space-between;
    }
   .section-title{
     font-size: var(--font-size-xll);
    }
    .footer-text{
        margin-top: 80px;
    }
    .icon-footer{
        width: 24px;
        height: 24px;
    }
    .navigation-footer{
        margin-left: 108px;
    }
}